/* start variables */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #F9C678;
    --secondary-color: #FF2D55;
    --black: #242A37;
    --grey: #F1F2F6;
    --paragraph-color: #777;
    --section-pad: 25px;
    --main-duration: .3s;
    --image-size: 300px;

}

/* end variables */
/* start components  */

a {
    color: var(--black);
}


/* end components  */

/* start global rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    outline: none;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    /* background: var(--grey); */
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screens  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screens  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */

.content {
    width: 278px;
    margin: auto;
}

.content .logo img {
    height: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content form h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.content form .name,
.content form .user-name,
.content form .email,
.content form .password,
.content form .confirm-pswd {
    position: relative;
}

.content form input[type="email"],
.content form input[type="text"],
.content form input[type="password"] {
    background: transparent;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 17px;
}

.content form .password+p {
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 10px;

}

.content form input+span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background: var(--black);

}

.content form input[type="text"]:focus+span::after,
.content form input[type="email"]:focus+span::after,
.content form input[type="password"]:focus+span::after {
    width: 100%;
}

.content form input[type="email"]:hover,
.content form input[type="text"]:hover,
.content form input[type="password"]:hover,
.content form input[type="text"]:focus,
.content form input[type="email"]:hover,
.content form input[type="password"]:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.account_type {
    margin-bottom: 1rem;
}

.account_type input[type="radio"] {
    display: none;
}

.account_type label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--grey);
    margin-right: 20px;
    border-radius: 3px;
    cursor: pointer;
}



.content form input[type="submit"] {
    padding: 12px 70px 12px;
    border-radius: 24px;
    display: block;
    cursor: pointer;
    margin: 25px auto 10px;
    background-color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
}

.content form .submit {
    font-size: 14px;
    word-spacing: 2px;
    line-height: 1.4;
}

.content form .submit a {
    color: var(--secondary-color);
}

.content form input[type="submit"]:hover {
    background-color: var(--black);
    color: var(--grey);
}

.content form .help {
    display: flex;
    flex-direction: column;
}

.content form .help a {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.content form .help .log-in {
    text-align: right;
}