/* start variables */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #F9C678;
    --secondary-color: #FF2D55;
    --black: #242A37;
    --grey: #F1F2F6;
    --green: #4caf50;
    --paragraph-color: #777;
    --section-pad: 25px;
    --main-duration: .3s;
    --image-size: 300px;

}

/* end variables */
/* start components  */

a {
    color: var(--black);
}

.section {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}

/* end components  */

/* start global rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screens  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screens  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */
/* start header  */
header {
    background-color: rgb(241, 242, 246, .8);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    height: 50px;
    margin: 10px 0;
}

header .container {
    position: relative;
}

header .container .toggle-menu {
    font-size: 24px;
}

header .container .toggle-menu:hover+ul {
    display: block;
    position: absolute;
    top: calc(100% - 15px);
    z-index: 1;
    right: 10px;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    min-width: 200px;
}

header .container .toggle-menu:hover+ul::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 2em;
    background-color: var(--black);
    cursor: pointer;
    color: var(--grey);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#scroll-to-top:hover {
    color: var(--secondary-color);
}

header .container .toggle-menu:hover+ul li {
    border-bottom: 1px solid #ddd;

}

header .container .toggle-menu:hover+ul li:hover {
    padding-left: 5px;
}

@media (min-width:992px) {
    header .container .toggle-menu {
        display: none;
    }
}

header .container ul {
    display: flex;
    align-items: center;
}



header .container ul li {
    transition: .3s;
}

header .container ul li a {
    color: var(--black);
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: var(--main-duration);
}

header .container form {
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 15px;
    border: 1px solid var(--paragraph-color);
}

@media (max-width:992px) {
    header .container ul {
        display: none;
    }

    header .container form {
        width: 50%;
    }
}

header .container form input {
    border: none;
    width: 75%;
    font-size: 14px;
}

header .container form button {
    border: none;
    outline: none;
    background-color: transparent;
}

/* end header  */

/* start footer  */
footer {
    background-color: var(--black);
    padding-top: 60px;
    margin-top: 90px;
}

footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

footer .col-md-4 {
    flex-basis: 33.33%;
    text-align: left;
}

footer h4 {
    color: var(--primary-color);
    font-size: 18px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: var(--grey);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-icons {
    display: flex;
    justify-content: flex-start;
}

footer .social-icons li {
    margin-right: 10px;
}

footer .social-icons li:last-child {
    margin-right: 0;
}

footer .social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: var(--secondary-color);
}

footer img {
    width: 100px;
}

/* end footer  */